<!DOCTYPE html>
{% load static %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Ceevee - Free Responsive HTML5/CSS3 Template</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/layout.css' %}">
   <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.png' %}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            
            
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Armin Fatemi.</h1>
            <h3>I'm a <span>Python</span> <span>Programmer</span> and I'm learning <span>Django</span>. This is my first site 
            and i hope i will develop it in better shape when i get better in it . Feel free and <a class="smoothscroll" href="#about">start scroll</a>
            in page. <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               
               <li><a href="https://www.linkedin.com/in/armin-sh-fatemi-150b10246"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/armin_ftmii/"><i class="fa fa-instagram"></i></a></li>
               
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/profilepic.jpg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I'm learning python django for back-end development since year 2022 , So im still a beginner in it , As i said this is my first personal site
               and project , I'm still student but im looking forward to find a somewhere to do my intern and after that work in this career!! , I hope i will 
               improve my skills in this field , Thanks.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Armin Sheykh Veysi Fatemi</span><br>
						   <span>Tehran
						         
                     </span><br>
						   <span>09378798433</span><br>
                     <span>arminsh610@gmail.com</span>
					   </p>

               </div>

               

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Life</h3>
                  <p class="info">Associate degree <span>&bull;</span> <em class="date">October 2022 - Present</em></p>

                  <p>
                     Currently im Student in University of Applied Sciences , i hope i will get my Associate degree.
                  </p>

               </div>

            </div> <!-- item end -->

            

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Degrees</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Python for everybody</h3>
                  <p class="info">Python developer<span>&bull;</span> <em class="date">October 2022 - Present</em></p>

                  <p>
                  I have completed the course of python for everybody. it was a 4 part course with exams for each part to do,
                  in this course i have learned all basic concepts of python to get ready for work in this field like access web data and URLs,
                  basic SQL and how to work with sqlite database.

                  <h4>Degrees of course  </h4>
                  <h6>
                     <a href="
                     https://www.coursera.org/account/accomplishments/certificate/6QR9DVULK48U">
                     Using Python to Access Web Data
                     </a>
                  </h6>
                  <h6>
                     <a href="
                     https://www.coursera.org/account/accomplishments/certificate/PLFJL8GJSX5J">
                     Capstone: Retrieving, Processing, and Visualizing Data with Python
                     </a>
                  </h6>  
               
                  <h6>
                     <a href="
                     https://www.coursera.org/account/accomplishments/certificate/A974PSMLUPXE">
                     Python Data Structures
                     </a>
                  </h6> 
                  <h6>
                     <a href="
                     https://www.coursera.org/account/accomplishments/certificate/HPA8MK85S8WQ">
                     Programming for Everybody (Getting Started with Python)
                     </a>
                  </h6> 
                  </p>

                  <h3>Meta Back-End Developer</h3>
                  <p>
                     I have started this course its a complete course for back-end development , so i will list 
                     of degrees and courses after i have complete it .  

                  </p>




                  </p>

               </div>

            </div> <!-- item end -->

            <!-- <div class="row item">

               <div class="twelve columns">

                  <h3>Super Cool Studio</h3>
                  <p class="info">UX Designer <span>&bull;</span> <em class="date">March 2007 - February 2010</em></p>

                  <p>
                  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                  nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                  ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat
                  </p>

               </div>

            </div> item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>List of skills i know is down below, yes i'm not perfect in all skills but i will be in future and i believe because i 
               didnt see someone professional in my career in real life, to campare my self with him, who is perfect, it is possible that this bar for my skills
               be wrong mybe im better or weaker .
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>PYTHON</em></li>
                  <li><span class="bar-expand illustrator"></span><em>DJANGO</em></li>
						<li><span class="bar-expand wordpress"></span><em>GIT-GITHUB</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>SQL</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   


   <!-- Call-To-Action Section
   ================================================== -->
    <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
    <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
    <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               
               <li><a href="https://www.linkedin.com/in/armin-sh-fatemi-150b10246"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/armin_ftmii/"><i class="fa fa-instagram"></i></a></li>
               
            </ul>

            

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'js/waypoints.js' %}"></script>
   <script src="{% static 'js/jquery.fittext.js' %}"></script>
   <script src="{% static 'js/magnific-popup.js' &}"></script>
   <script src="{% static 'js/init.js'%}"></script>

</body>

</html>